.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .wreck-list {
    flex: 1;

    .result {
      &-row {
        display: flex;
        flex-direction: column;
        padding: 0.7rem;
  
        &.selectable {
          display: flex;
          text-align: left;
          cursor: pointer;
        }
  
        &.selected, &.selectable:hover {
          background-color: rgb(243, 243, 243);
        }
      }
  
      &-content {
        display: flex;
  
        &-left {
          position: relative;
          flex: 1;
          padding-left: 0.5rem;
        }
      }
  
      &-footer {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        button:first-of-type {
          margin-right: 0.8rem;
        }
      }
  
      &-selected-icon {
        right: 0.4rem;
      }
  
      &-header {
        text-transform: uppercase;
        font-weight: bold;
        word-break: break-all;
  
        &.selected {
          padding-right: 1.2rem;
        }
      }
  
      &-meta {
        font-size: 0.9rem;
        color: gray;
      }
    }
  }
}
