.wreck-popup {
  &-controls {
    display: flex;
    justify-content: space-between;

    &:after {
      content: none !important;
    }
  }

  .ui.card {
    box-shadow: none !important;
  }
}