@import './colors.scss';

.button-primary {
  background-color: $theme-primary-color !important;
  color: $white !important;

  button {
    background-color: $theme-primary-color !important;
    color: $white !important;
  }
}
