.map-sidebar {
  &-left {
    background-color: rgb(245, 252, 255) !important;
  }

  &-right {
    background-color: rgb(245, 252, 255) !important;
    min-width: 29%;
    overflow-y: hidden !important;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &-header {
      display: flex;
      align-items: center;
      padding: 1.4rem 0.5rem 1rem 0.5rem;
      background-color: rgb(95, 142, 189) !important;
      color: rgb(247, 244, 244);
      box-shadow: 0 3px 3px rgba(0,0,0,0.2);

      .app-title {
        flex: 1;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Trade Winds', cursive;
      }
    }

    .content-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .ui.segment {
        flex: 1 !important;
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 1280px) {
  .map-sidebar-right {
    min-width: 36%;
  }
}
