.search-form {
  text-align: left;
  padding-bottom: 1rem;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;

    .dropdown {
      font-size: 0.9rem !important;

      .dropdown.icon {
        padding-top: 0.6rem !important;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
  }

  &-submit-button {
    text-align: right;
  }

  &-clear-button {
    margin-right: 0.3rem !important;

    button {
      color: rgb(90,90,90) !important;
    }
  }

  .description-label-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 .28571429rem 0;

    .advanced-toggle {
      cursor: pointer;
      background-color: transparent !important;
      // border: 1px solid white;
      padding: 0.2rem 0.3rem;
      align-self: flex-end;

      i {
        margin: 0 0 0 0.4rem !important;
      }

      &.active, &:hover {
        // border: 1px solid rgb(9, 91, 158);
        background-color: rgb(54, 144, 218) !important;
        color: rgb(54, 144, 218);
        color: white;
      }
    }
  }

  label {
    text-align: left;
    font-weight: bold;
  }

  .ui.labeled.input>.label {
    width: 7.2rem !important;
    background-color: rgb(247, 246, 213);
  }

  .basic-search-help-message {
    .icon.hand.point.down {
      margin-right: 0 !important;
      margin-left: 0.6em !important;
    }
  }
}