.map-sidebar-left {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  overflow-x: hidden !important;

  .layer-toggle-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    .layer-toggle {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      height: 11rem;
      width: 100%;
      display: flex;
      border-radius: 4px;

      &-text {
        position: absolute;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        font-family: 'Secular One', sans-serif;
      }

      &.inactive {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      &-top {
        clip-path: polygon(100% 0, 0% 100%, 0 0);
    
        &-text {
          top: 3rem;
          left: 1rem;
        } 
      }

      &-bottom {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    
        &-text {
          bottom: 2rem;
          right: 1rem;
        } 
      }
  
      &-oceans {
        background-image: url('../../../assets/oceans.png');
      }
      
      &-imagery {
        background-image: url('../../../assets/imagery.png');
      }
    }
  }

  .settings {
    &-option {
      &:first-of-type {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;

        .icon:not(.dropdown) {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.ui.labeled.icon.menu .item>.login-icon.facebook.icon:not(.dropdown) {
  margin: 0 !important;
}

.menu-item-animated {
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bouncer;
}

@keyframes bouncer {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-15px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
