.map-sidebar {
  min-width: 15rem;
  width: 25% !important;

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-header {
      display: flex;
      align-items: center;
      padding: 0.5rem;

      .app-title {
        flex: 1;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  &-toggle {
    cursor: pointer;

    &-show {
      position: fixed !important;
      left: 0.8rem;
      top: 6rem;
      z-index: 1;
      color: #383232 !important;
    }
  }
}