.map-sidebar {
  min-width: 28%;
  background-color: rgba(255, 255, 255, 0.98) !important;
  resize: both !important;
  overflow: auto !important;

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-header {
      display: flex;
      align-items: center;
      padding: 0.5rem;

      .app-title {
        flex: 1;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &-body {
      padding: 0.5rem;
    }

    &-results {
      display: flex;
      
      .item {
        flex: 1 !important;
      }

      .item:hover {
        border-bottom: none !important;
      }
    }
  }

  &-toggle {
    cursor: pointer;

    &-show {
      position: fixed !important;
      left: 10px;
      top: 10px;
      z-index: 1;
      color: #383232 !important;
    }
  }
}