.wreck-popup {
  &-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &:after {
      content: none !important;
    }
  }

  &-description {
    max-height: 25rem !important;
    overflow-y: auto !important;
  }

  .ui.card {
    box-shadow: none !important;
  }
}