.map {
  .leaflet-control-zoom {
    right: 0.8rem !important;
    position: fixed !important;
  }

  .layer-toggle {
    height: 6rem;
    width: 6rem;
    color: white;
    position: absolute;
    right: 0.8rem;
    bottom: 1.9rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;

    &-oceans {
      background-image: url('../../assets/oceans.png');
    }
    
    &-imagery {
      background-image: url('../../assets/imagery.png');
    }
  }
}

.wreck-popup {
  &-history {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &-controls {
    display: flex;
    justify-content: space-between;

    &:after {
      content: none !important;
    }
  }

  .ui.card {
    box-shadow: none !important;
  }
}