.articles {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100%;

  &-help-message {
    .content {
      text-align: left;
    }

    .icon.hand.point.down {
      margin-right: 0 !important;
      margin-left: 0.6em !important;
    }
  }

  &-form {
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
  }

  &-results {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem;
    border-top: 1px solid rgba(34, 36, 38, .15);
  }

  .accordion-title {
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: flex !important;
    flex-direction: row !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 1rem !important;

    .content {
      align-self: center !important;
    }
  }
}