.custom-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 100%;
  padding: 0 3rem;

  &-rows {
    position: absolute !important;
    opacity: 0.1 !important;
  }

  &-row {
    display: flex !important;
    flex-direction: row !important;
    padding: 1rem !important;
    margin: 0 !important;
  }

  .logo-spinner {
    height: 5.5rem;
    width: 5.5rem;
    background-image: url('../../../assets/wreck_finder_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: spinning 1500ms linear infinite;
  }
}

@keyframes spinning {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}